*{
    padding: 0;
    margin: 0;
}
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap'); */
body{
  background-color:#f3eae3;
}
.font-fraunces{
    margin: 3% 0;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
}

.font-montserrat{  
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-size: 14px;
        /* font-weight: bolder; */

}
.container{
    width: 100%;  
    /* display: grid; */
}
.contant-hold{
    width: 40%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 12% auto;
    box-sizing: border-box;
    min-width: 580px;
    display: flex;
}
.description{
    /* width: 20%; */
    padding: 5%;
    width: 50%;
    box-sizing: border-box;
}
/* .heading-description{
    line-height: 1px;
} */

.product-img{
    width: 50%;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
 }
 /* .description p{
    font-size: 14px;
} */
.title p{
    letter-spacing: 5px;
}
.heading-description{
    margin: 6% 0;
}

.price-color{
    color: hsl(158, 36%, 37%);
    font-size: 28px;
    font-weight: 500px;
}
strike{
    font-size: 15px;
    
}
/* .description img{
    width: 20%;
} */
.price{
    display: flex;
    gap: 6%;
    margin: 8%;
}
.price p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product{
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    
}
.description button{
    width: 100%;
    padding: 6%;
    border-radius: 5px;
    border: hidden;
    color: #ffffff;
    /* font-weight: 800px; */
    background-color: #3e8168;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon{
    display: flex;
    gap: 20px;
}
p{
    color: gray;
    font-size: 14px;
}
@media screen and (max-width:425px){
    .contant-hold{
        width: 100%;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        margin: 8% auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .product-img{
        /* width: 100%;
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover; */
        width: 100%;
        background-image: url(images/image-product-mobile.jpg);
        background-size: cover;
        height: 44vh;
    }
    .description{
        width: 100%;
        padding: 5%;
        /* width: 50%; */
        box-sizing: border-box;
    }
     
    /* .product-img{
        width: 100%;
    } */
    /* .product-img{
        image: url(images/image-product-mobile.jpg) ;
        width: 50%;
        height: 40%;
    } */
    .description button{
        width: 90% auto;
        padding: 6%;
        border-radius: 10px;
        border: hidden;
        color: #ffffff;
        /* font-weight: 800px; */
        background-color: #3e8168;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .font-montserrat{
        font-size: 15px;
    }
    .mobile-size{
        font-size: 1.5rem;
    }
    .heading-description{
        font-size: 3rem;
    }
    
    .description{
        box-sizing: border-box;
        padding: 8%;
        height: 60%;
    }
    .price{
        margin: 7% 0px;
    }
    
    
}

    



